<%- include ../../partials/head %>

<div class="container">
  <div class="row w-75 mx-auto">
    <div class="col w-50">
      <h1 class="display-4 text-dark">Series</h1>
    </div>
    <div class="col">
        <a class="text-dark">Lorem ipsum!</a>
    </div>
  </div>
</div>
