<%- include ../../partials/head %>


<div class="alert alert-warning alert-dismissible fade show w-50 mx-auto" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="container">
  <div class="row w-75 mx-auto">
    <div class="jumbotron">
      <h1 class="display-4 text-dark float-left">Series</h1>
      <p class="lead text-dark">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4 text-dark">
      <p class="text-dark float-left">It uses utility classes for typography and spacing to space content out within the larger container. </p>
      <p class="lead float-left">
        <a class="btn btn-primary btn-lg" href="/browse" role="button">Browse series</a>
      </p>
    </div>

  </div>
</div>
