<%- include ../../partials/head %>

<h1 class="text-dark">My library</h1>

<div>
  <% if (series) { %>
    <% series.forEach(item => { %>
        <a class="d-sm-block" href="/library/<%= item.id %>"><%= item.name %></a>
    <% }); %>
  <% } %>
</div>

