<%- include ../../partials/head %>

<h1 class="text-light">My library</h1>

<div>
  <% if (series) { %>
    <div class="container w-50 mx-auto">
    <% series.forEach(item => { %>
        <a class="float-left" href="/library/<%= item.id %>"><%= item.name %></a><br/>
    <% }); %>
    </div>
  <% } %>
</div>

