<%- include ../partials/head %>

<h2>Series</h2>
<quote>"Good design is as little design as possible." - some German motherfucker</quote><br/><br/>

<% if (auth) { %>
  <!-- is authenticated -->

  <h4>Add series to library</h4>
  <form action="/library/series/37680" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Add series</button>
  </form>
<% } %>