<%- include ../partials/head %>

<div>
  <% if (series) { %>
    <% series.forEach(item => { %>
      <div>
        <a href="/library/<%= item.id %>"><%= item.name %></a>
      </div>
    <% }); %>
  <% } %>
</div>

