<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <style>html, input, button, body { font-family: 'Raleway', sans-serif; }</style>
  </head>
<body>
<a href="/">Home</a>
<% if (!auth) { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% } else { %>
  <a href="/library">Library</a>  
  <a href="/logout">Logout</a>  
<% } %>
<a target="_blank" href="https://github.com/august-norkko/series">Github</a><br/><br/>

