<!doctype html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
  </head>
<body>
<br/>
<a href="/">Home</a>
<% if (!auth) { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
<% } else { %>
  <a href="/library">Library</a>  
  <a href="/logout">Logout</a>  
<% } %>
<a target="_blank" href="https://github.com/august-norkko/series">Github</a><br/><br/>

