<%- include ../../partials/head %>

<style>body { color: #000; }</style>

<h1 class="text-dark">Profile</h1>

<div class="container">
  <h1>Username: <%= user.username %></h1>
  <a href="/profile/settings">Edit profile</a>
</div>