<%- include ../../partials/head %>

<div class="container mt-5">
  <a href="/" class="text-primary">Home</a>
  <h1 class="mb-5 pt-5">Create account</h1>
  <div class="content custom-border bg-light">
    <form action="" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label for="username" class="text-dark float-left">Username</label>
        <input type="text" id="username" class="form-control" value="username" name="username" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label for="password" class="text-dark float-left">Password</label>
        <input type="password" id="password" class="form-control" value="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="passwordconfirm" class="text-dark float-left">Confirm password</label>
        <input type="password" id="passwordconfirm" class="form-control" value="password" name="passwordconfirm" required>
      </div>
      <button type="submit" class="btn btn-success w-100">Create account</button>
    </form>
  </div>
</div>

<div class="container mt-1">
  <div class="content custom-border bg-light">
    <a class="text-dark">Already registered? <a class="text-primary" href="/login">Sign in</a></a>
  </div>
</div>